* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sectionOneFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 1rem 0 1rem;
}

.sectionOneCarousel {
  width: 600px;
}

.carousel_img {
  width: 600px;
  height: 600px;
}

.productosFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.productos {
  width: 350px;
  margin: 2rem 1rem 0 1rem;
}

.sectionThreeFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.experienciaClienteCard {
  margin: 2rem 1rem 0 1rem;
}

.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerFlex__item {
  width: 4rem;
  padding-left: 25px;
  height: 5rem;
}
